POSTGRES_HOST=your-postgres-host
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
SRC_DIR=/app/data
ERR_DIR=/app/data
RUN_DATE=2026-07-28
HIGH_DATE=9999-12-31
